body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: yellow;
}

h3{
    color: rgb(0, 0, 0);
}

#div1{
    width: 50%;
    background-color: aliceblue;
}

#div2{
    width: 170%;
}

#div3{
    width: 170%;
}

#div4{
    width: 170%;
}

img{
    width: 15%;
    height: 15%;
    padding: 2%;
}