*{
    font-family: Arial;
}

.subtitulo{
    color: mediumorchid;
}

#intro{
    font-weight: bold;
}

div > p{ 
    color: blue;  
}

article{
    border: 1px solid green;
    margin: 30px 20px 10px 5px;
    padding: 30px;
}