*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Reseteo de margenes y padding*/
}

.contenedor {
    background-color: #FFFFFF;
    max-width: 75rem;
    margin: 0 auto;
}

p{
    border: 0.0625rem solid blueviolet;
    padding: 1.25rem;
}



@media screen and (max-width:25rem){ /*Usamos rem por que es desde html y em es desde la etiqueta*/
    .tablet, .desktop, .pantalla{
        display: none;
    }

    

}
@media screen and (min-width:25rem) and (max-width:50rem){
    .movil, .desktop, .pantalla{
        display: none;
    }

    html{
        font-size: 90%;
    }

}

@media screen and (min-width:50rem) and (max-width:75rem){
    .tablet, .movil, .pantalla{
        display: none;
    }
    html{
        font-size: 150%;
    }

}
@media screen and (min-width: 75rem) and (max-width:120rem){
    .tablet, .desktop, .movil{
        display: none;
    }

    html{
        font-size: 200%;
    }
}