*{
    margin: 0px;
    padding: 0px;
    background-color: #FFEB3B;
}

table {
    border-color: black;
    background-color: #1b1b1b;
    align-self: auto;
    
}



main {
    width: auto;
    height: auto;
    background-color: black;
}

