header{
    padding-top: 30px; /*Padin de arriba*/
    padding-right: 50;
    padding-left: 60px;
    padding-bottom: 20px;
    text-align: center;
    border: 10px solid black; /*borde*/
    margin-bottom: 30px; /*separacion abajo*/
}

main{
    border: 10px solid blueviolet;
    margin-top: 30px;
    max-width: 600px;/*el max-width se crece a un maximo*/
    min-width: 100px;
    height: 400px;
    /*truco para centrar y calcule el margen*/
    margin-left:auto;
    margin-right: auto;
    /*CENTRADO DE MARGEN ARRIBA Y ABAJO */
    margin: 20PX auto;
    /*Borde redondeado*/
    border-radius: 20px;
    /**/
    text-align: center;
    /*deja el tamano correcto aunte una modificacion*/
    box-sizing: border-box;

    /*cuuando es muy grande el texto podemos escrollear*/
    overflow: scroll; 
    
}

footer{
    border: 15px solid black;
    padding: 20px 50px;
    margin-top: 30px;
}

.fondo-azul{
    background-color: blue;
    color: aliceblue;
}

.fondo-amarillo{
    background-color: yellow;
}