h1{
    text-align: center;
}

.resaltar{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border: 5px solid yellow;
}

#bloque{
    display: block;
}

#line-bloque{
    display: inline-block;
}