.contenedor{
    margin-left: 5%;
    margin-right: 5%;
}
.menu{
    height: 50px;
    width: 100%;
    background-color: #DADADA;
    align-content: center;
}

body{
    margin: 0px;
    padding: 0px;
}
 .menu ul li{ /*al elemento que tenga menu y que tenga ul y tambien li le aplicamos eso*/
     float: left;
     list-style: none; /* oclta vinetas etc*/
     padding: 0px;
     margin: 0px;
     width:16.66% ;
     text-align: center;
 }

 .menu .menu2 ul{
     margin: 0px;
     padding: 0px;
 }

 .opcion a{
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    color: #003399;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block; /* le da un cuadro mas grande*/
 }

 .opcion a:hover{ /*cuando este sobre el elemento a que esta en la clase opcion*/
     background-color: #666666;
     color:orange;
 }

 .opcion2 a:hover{ /*cuando este sobre el elemento a que esta en la clase opcion*/
    background-color: rgb(10, 82, 141);
    color:orange;
}

 .menu2{
    height: 100%;
    width: 16.66%;
    background-color: #1E72B7;
    
 }

 .menu2 ul li{ /*al elemento que tenga menu y que tenga ul y tambien li le aplicamos eso*/
    list-style: none; /* oclta vinetas etc*/
    padding: 0px;
    border-bottom: 2px solid white;
    
    
}

ul{
    padding: 0;
    margin: 0;
}

.opcion2 a{
    padding: 15px 10px 15px 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 80%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block; /* le da un cuadro mas grande*/
 }

 